RewriteEngine on
#RewriteCond %{HTTP_HOST} ^www.qpuzzle.ru$ [NC]
#RewriteRule ^(.*)$ http://qpuzzle.ru/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]